body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
      to bottom,
      rgb(167, 167, 250) 0%,
      rgb(167, 167, 250) 40%,
      rgb(40, 40, 171) 100%
    );
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: rgb(167, 167, 250);

  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
.a{
    text-align: center;
}
  